# Raw sequencing data
data/
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.sra
*.tmp

# Alignment
*.sam
*.bam
*.bai

# Variant indexes
*.csi

# Reference indexes
reference/index/

# Databases
databases/

# Large annotation outputs
results/alignment/
